@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'SFProText-Medium';
    src: url('../fonts/SFProText-Light.ttf');
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: 'SFProText-Medium';
    src: url('../fonts/SFProText-Medium.ttf');
    font-weight: 600;
    font-style: 600;
} */

:root {
    --link-color: #5A4FCF;
    --link-color-dark: rgb(76, 166, 255);
    --background-dark: #27282c;
    ;
}

html {
    /* font-family: 'SFProText-Medium'; */
    font-size: 18px;
}

body {
    color: #000;

    &::-webkit-scrollbar {
        width: 14px!important
    }
    
    &::-webkit-scrollbar-track {
    }
    
    &::-webkit-scrollbar-thumb {
        background: #ccc!important;
        width: 8px!important;
        border: 3px solid #fff!important;
        border-radius: 8px!important
    }

    &.theme-dark {
        background: #27282c;
        color: rgba(255, 255, 255, 0.60);

        &::-webkit-scrollbar {
            background: var(--background-dark)!important;
        }
        
        &::-webkit-scrollbar-track {
            background: var(--background-dark)!important;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(84,84,84,.7)!important;
            border: 3px solid var(--background-dark)!important;
        }
    }
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1600px;
    /* min-width: 718px; */
    margin-right: auto;
    margin-left: auto;
}

a {
    color: var(--link-color);

    .theme-dark & {
        color: var(--link-color-dark);
    }
}

svg {
    color: #6E6E6E;

    .theme-dark & {
        color: #bbb;
    }
}

[data-hide="true"]>[data-checked] {
    display: block;
}
